* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: url(https://media.istockphoto.com/photos/cement-shelf-and-floor-on-concrete-background-for-design-picture-id1345203265?b=1&k=20&m=1345203265&s=612x612&w=0&h=u4Vs0oatELuy1jPR8sAVgBeQ6Y-I4x2gjRJCJ6Ra-ZU=) #000;
    background-size: cover;
    color: #fff;
    font-size: 16px;
}

.wrap {
    display: flex;
    justify-content: center;
}

.widget {
    width: 30%;
    margin: 2em;
}

.widget p {
    display: inline-block;
    line-height: 1em;
}

.date {
    font-family: 'Russo One', sans-serif;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 0.3125rem;
    background-color: rgba(255, 0, 0, 0.5);
    padding: 20px;
    width: 100%;
}

.time {
    font-family: 'Russo One', sans-serif;
    width: 100%;
    padding: 20px;
    font-size: 4em;
    text-align: center;
    background-color: rgba(0, 0, 80, 0.5);
}

.secondsBox {
    display: inline-block;
}

.time .ampm,
.time .seconds {
    font-size: 2rem;
    display: block;
}
