* {
    font-family: 'Lexend Deca', sans-serif;
}

h1 {
    font-family: 'Big Shoulders Display', cursive;
}

.sedan {
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.suv {
    background-color: hsl(184, 100%, 22%);
}

.luxury {
    background-color: hsl(179, 100%, 13%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.sedan-btn {
    background-color: #fff;
    color: hsl(31, 77%, 52%);
    border: 2px solid hsl(31, 77%, 52%);
    border-radius: 25px;
    height: 50px;
    max-width: 150px;
}

.suv-btn {
    background-color: #fff;
    color:hsl(184, 100%, 22%);
    border: 2px solid hsl(184, 100%, 22%);
    border-radius: 25px;
    height: 50px;
    max-width: 150px;
}

.luxury-btn {
    background-color: #fff;
    color:hsl(179, 100%, 13%);
    border: 2px solid hsl(179, 100%, 13%);
    border-radius: 25px;
    height: 50px;
    max-width: 150px;
}

.sedan-btn:hover {
    color: #fff;
    background: transparent;
}

.suv-btn:hover {
    color: #fff;
    background: transparent;
}

.luxury-btn:hover {
    color: #fff;
    background: transparent;
}